.ui.segments {
  border: none;
  box-shadow: none;
}

.ui.segment:first-child {
  text-align:center;
  width:60%;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: rgb(255, 255, 255);

  margin-bottom:0;
  border-radius:0;
  padding-bottom:10%;

  border-right: solid;
  border-left: solid;
  border-top:none;
  border-bottom:none;
  border-color:#FFD500;
}
