body{
  background-color:#6dfc54b0;
  width: 100%;
  margin: auto;
}

#header {
  width: 100%;
  padding: 20px;
  background-color: #6dfc54b0;
}
.ui.menu {
  background: #6dfc54b0;
  font-weight: 400;
  border: none;
  box-shadow: none;
}

#home-page {
  background-image: url("./images/laptop-movie-theater.jpg");
  width: 100%;
  opacity: 80%;
  height: 350px;
  background-position: center;
  background-size: cover;
}

#home-page-items {
  text-align: left;
  width: 250px !important;
  max-width: 300px !important;
  margin-right: auto !important;
  margin-left: 20px !important;
  background-color: rgba(27, 28, 49, 0.712);
  padding: 20px;
  border-radius: 20px;
  vertical-align: middle;
  height:300px;
}
.ui.text.container {
  max-width: 250px !important;
}
.ui.inverted.header {
  color: #fff;
  max-width: 230px !important;
  font-weight: normal;
}

#main-list {
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.body-content {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 10px;
}
p{
  font-size:13px;
}

.wrapper{
  background-color: #fff;
  width:80%;
margin-right:10%;
margin-left:10%;
border-radius: 5px;
box-shadow: 0px 5px 10px 2px #5d5d5dab;
}

.movie-card {
  width:60%;
  margin: auto;
}

.ui.segments {
  border: none;
  box-shadow: none;
}