.cardContainer {
  display: flexbox;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-right: solid;
  border-left: solid;
  border-color: #FFD500;
  margin-bottom: 15%;
  margin-top:12px;

}
