body{
  background-color: black;
  background-image: url("../../assets/images/lemon.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 20%;
  background-attachment: fixed;
  width: 100%;
  margin: auto;
}

#home-page {
  background-image: url("../../assets/images/laptop-movie-theater.jpg");
  width: 100%;
  opacity: 80%;
  height: 500px;
  background-size: cover;
}

#home-information {
  text-align: left;
  width: 250px !important;
  margin-right: auto !important;
  margin-left: 20px !important;
  margin-top:20px !important;
  background-color:rgba(255, 213, 0, 0.367);
  padding: 20px;
  border-radius: 20px;
}

/* holds the text in the information container */
.ui.text.container {
  max-width: 200px!important;
}