body{
  background-color:lightblue;
  width: 100%;
  margin: auto;
}

#header {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

#home-page {
  background-image: url("./images/laptop-movie-theater.jpg");
  width: 100%;
  opacity: 80%;
  height: 350px;
  background-position: center;
  background-size: cover;
}

#home-page-items {
  text-align: left;
  width: 250px !important;
  max-width: 300px !important;
  margin-right: auto !important;
  margin-left: 20px !important;
  background-color: rgba(27, 28, 49, 0.712);
  padding: 20px;
  border-radius: 20px;
  vertical-align: middle;
  height:300px;
}

.ui.text.container {
  max-width: 250px !important;
}

.ui.inverted.header {
  color: #fff;
  max-width: 230px !important;
  font-weight: normal;
}
