.ui.card{
  min-height: 600px;
  max-height: 600px;
  max-width: 290px;
  padding: 1%;
  /* font-size: medium; */
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34,36,38,.15);
  display: inline-flex;
  margin: 1.5em .5em;
  /* margin-right: 5px; */
}

.moviePoster{
  min-height: 400px;
  max-height: 400px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  -ms-flex-align: center;
  padding: 10px;
}

.movieImage{
  width: 100%;
  /* max-width: 100px; */
  /* padding: 5px; */
  /* width: 100%; */
  /* object-fit: contain; */
  /* margin: auto; */
}
img{
  width:40px;
  display:inline-block;
}
/* display inline block  */
/* .sad{
  background-image: url("./images/sad.svg");
width: 20px;
}

.funny{
  background-image: url("./images/funny.svg");
  width: 20px;
}

.action{
  background-image: url("./images/action.svg");
  width: 20px;
}

.romance{
  background-image: url("./images/romance.svg");
  width: 20px;
} */


 /* body{
  background-color:lightblue;
  width: 100%;
  margin: auto;
}

#header {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}
.ui.menu {
  background: #fff;
  font-weight: 400;
  border: none;
  box-shadow: none;
}

#home-page {
  width: 100%;
  opacity: 80%;
  height: 350px;
  background-position: center;
  background-size: cover;
}

#home-page-items {
  text-align: left;
  width: 250px !important;
  max-width: 300px !important;
  margin-right: auto !important;
  margin-left: 20px !important;
  background-color: rgba(27, 28, 49, 0.712);
  padding: 20px;
  border-radius: 20px;
  vertical-align: middle;
  height:300px;
}
.ui.text.container {
  max-width: 250px !important;
}
.ui.inverted.header {
  color: #fff;
  max-width: 230px !important;
  font-weight: normal;
}

#main-list {
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.body-content {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 10px;
}
p{
  font-size:13px;
}

.wrapper{
  background-color: #fff;
  width:80%;
margin-right:10%;
margin-left:10%;
border-radius: 5px;
box-shadow: 0px 5px 10px 2px #5d5d5dab;
}

.movie-card {
  width:60%;
  margin: auto;
}

.ui.segments {
  border: none;
  box-shadow: none;
} */ 