.ui.card {
  /* background-color: rgba(25, 153, 51, 0.137); */
  /* min-height: 600px;
  max-height: 600px;
  max-width: 290px;
  padding: 1%;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34,36,38,.15);
  display: inline-flex;
  margin: 1.5em .5em; */
}

/* each singular card in Movie List with the backgrounds set to be fully transparent */
.ui.card,
.ui.cards > .card {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0), 0 0 0 1px #ffffff00;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* centering cards container */
.ui.cards {
  margin-left: auto;
  margin-right: auto;
}

/* action when card mouse is hovered */
.ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover {
  /* background-color:  #FFD500; */
  background-color: #ffd500;
  opacity: 70%;
}

/* movie title header on Movie List Page */
.movie-title-list-header {
  font-weight: bold;
  font-size: 18pt;
  color: rgb(25, 153, 51);
}

/* movie comment on Movie List Page */
.ui.cards > .card > .content {
  min-height: 80px;
  max-height: 100px;
  color: rgb(25, 153, 51);
}

.moviePoster {
  min-height: 400px;
  max-height: 400px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  -ms-flex-align: center;
  padding: 10px;
}

.movieImage {
  width: 100%;
}

.emoji-image {
  width: 40px;
  display: inline-block;
}
