#header {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}
.customFont {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}
.ui.menu {
  background: #fff;
  font-weight: 400;
  border: none;
  box-shadow: none;
}
