/* Home and Movie List menu items */
.menu-items{
  font-weight: normal;
  font-size: 18pt;
  color:#FFD500;

}

.menu-items:hover {
  font-weight: bold;
}

/* lemon icon */
.icon{
  color:#FFD500;
}

/* None of that rotten stuff subheader  */
h2.ui.header .sub.header {
  font-size: 1.14285714rem;
  color:#FFD500;
  padding-top:20px;
}

/* Fresh Lemons title header */
.customFont {
  font-family: 'Lobster', cursive;
  font-size: 42px;
  color:#FFD500;
  padding-top:20px;
}

/* menu banner  */
.ui.menu {
  /* background-color: #6dfc54b0; */
  background-color: #005C13;
  width: 100%;
  padding: 20px;
  border-radius:0;
}
